<%= form_tag "#{general_settings_path}/add" do %>
<tr>
  <td class="first"></td>
  <td class="add-value" colspan="2"><br><br><%= t "Add a value" %></td>
  <td class="last"></td>
</tr>
<tr>
  <td class="first"></td>
  <td style="vertical-align: middle"><div class="dividers">
    <input type="text" name="key">
  </div></td>
  <td style="white-space: nowrap">
    <textarea style="width: 90%" rows="5" type="text" name="val"></textarea>
  </td>
  <td style="vertical-align: middle" class="last"><input type="submit" value="+"></td>
</tr>
<% end %>